.home_page_container{

}
app-header{
   height: 20%;
}

#app-carusel-container{
   margin-bottom: 100px;
}
#about{
     display: flex;
     flex-direction: row;
     padding: 50px 20px;
     justify-content: center;
     align-items: center;
     height: 50vh;
     margin-bottom: 100px;
}
#about >.title-about{
   text-align: center;
   font-size: 1.2rem;
   height: 100%;
   color: #000;
   width: 50%;
}
#about  > .text_about{
    height: 100%;
    width: 50%;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    align-items: flex-start;
 }

 .text_about > p{
    font-size: 1.2rem;
 }

 .text_about > button{
    background: linear-gradient(rgba(141, 151, 165, 0.2) ,rgba(3, 26, 75, 0.8));
    color: #fff;
    border-radius: 6px;
    padding: 8px 20px;
 }

 /* Card -Info */
 #card-info{
   width: 100%;
   height: 70vh;
   display: flex;
   overflow: scroll;
   justify-content: space-between;
   padding: 20px 80px;
}

app-card-info{
   width: 30%;
   height: 100%;
 }

#card-doctor{
   width: 100%;
   color: #000;
   display: flex; 
   gap: 10px;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 40px 0px;
   background-color: #a5d7f8;
   margin-bottom: 100px;
}

#card-doctor > h2{
   text-align: center;
   font-size: 1.7rem;
   width: 20%;
}
.doctors-profile{
   height: 100%;
   display: flex ;
   gap: 20px 0px;
   flex-wrap: wrap;
   justify-content: flex-end;
}

app-card-doctor{
   width: 30%;
   height: 70vh;
}

.search-location{
   margin: auto;
   text-align: center;
   height: 30vh; 
   width: 35%;
   border-radius: 10px;
   background-color: rgb(240, 237, 233);
   border: 3px solid rgb(28, 99, 109);
   margin-bottom: 100px;
  }

.search-location form{
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.search-location form input {
    border: 2px solid #a7a4d3;
    width: 30%;
    padding: 10px;
    border-radius: 12px;
}  
.search-location form button {
   border: 2px solid #a7a4d3;
   border-radius: 12px;
   padding: 5px;
   font: 0.6em ;
   width: 20%;
}

.search-location form button:hover{
    background: #a7a4d3;
    transition: 1s;
}

#fotter_component_container{
  background: #314857;
  width: 100%;
  height: 90vh;
}
app-footer-component{
   display: inline-block;
   width: 100%;
   height: 100%;
}

@media screen and (max-width:760px) {
   #card-doctor{
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }


}