
    <div class="card-doctor-container">
      <div class="img-doctor">
              <ul class="list-icon">
                     <li><a href=""> <img src="../../../../assets/img/svg_icons/calendar-time.svg" alt=""> </a></li>
                     <li><a href=""> <img src="../../../../assets/img/svg_icons/message-.svg" alt=""></a></li>
                     <li><a href=""> <img src="../../../../assets/img/svg_icons/phone-call-time-clock.svg" alt=""></a></li>
                     <li><a href=""> <img src="../../../../assets/img/svg_icons/video-call-webcam.svg" alt=""></a></li>
                 </ul>
      </div>
      <p>Dr. Martha Schmidt</p>
      <span> BDS, MDS - Oral & Maxillofacial Surgery</span>
    </div> 
    
   
