<div class="fotter_container">
     <div class="secondo_container">
        <div class="about_us">
         <h3>SOBRE NÓS</h3>
         <p>DoseMedic is the leading medical directory website where people from all over the US can find the nearest medical specilist that meets their healthcare needs.</p>
      </div>
        <div class="about_us">
         <h3>NOSSOS CONTATOS</h3>
         <div class="about_us-content">
            <p>Suport:</p>
            <a href="">(81) 43435-4434</a>
            <p>email:</p>
            <a href="#">email&#64;Email.com</a>
         </div>
  
        </div>
        <div class="about_us">
         <h3>LINKS RÁPIDOS</h3>
         <div class="about_us-content">
            <a href="">Soubre nós</a>
            <a href="#">Nossos serviços</a>
            <a href="#">Nosso times</a>
            <a href="#">Notícias</a>
            <a href="#">O que fazemos</a>
         </div>
  
 
        </div>  
     </div>  
     <div class="footer_bar_bottom">
           <h4>© 2023 DoseMedic. All Rights Reserved</h4>
           <h4>Privacy Policy</h4>
     </div>
</div>