.fotter_container{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.secondo_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
}

.about_us{
   color: aliceblue;
    width: 25%;
    height: 80%;
    text-align: justify;
    padding: 8px 6px;
    display: grid;
}

.about_us h3{ 
    font-size: 1.3rem;
}

.about_us p{
    font-size: 1rem;
    color: aliceblue;
}

.about_us-content > a{
    display: flex;
    flex-direction: column;
   text-decoration: none;
   color: #fff;
}

.footer_bar_bottom{
   background:#A6B5CC;
   width: 100%;
   height: 15%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}